body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-nav {
  background-color: red;
  padding-top: 1px;
  border-radius: 30px;
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animation {
  0% {background-color: red;}
  50% {background-color: yellow;}
  100% {background-color: red;}
}

.navbar-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px
}

.nav-item {
  color: white;
}

.active-nav-btn {
  font-size: 22px;
  background-color: black;
  border-radius: 20px;
}

.my-image {
  max-width: 150px;
  border-radius: 20px;
  border: 5px solid cyan;
  animation-name: image-slidein;
  animation-duration: 4s;

}

@keyframes image-slidein {
  from {
    margin-bottom: 500%;
    width: 300%;}
  to {
    margin-left: 0%;
    width: 100%;}
}

.home-box {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.home-title {
  font: bold;
}

.home-box-children {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-image {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 1px solid;
}

.home-image {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 1px solid;
  animation-name: home-image-slidein;
  animation-duration: 4s;
}

@keyframes home-image-slidein {
  from {
    margin-left: 150%;
    width: 300%;}
  to {
    margin-left: 35%;
    width: 100%;}
}

.blog-box {
  display: flex;
  justify-content: space-between;
}

.history-group {
  display: flex;
  justify-content: space-around;
}

.my-container-experience {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.my-container-skills {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

.about-container {
  display: flex;
  justify-content: center;
}

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.blog-post-container {
  display: flex;
  border: 1px solid black;
  max-width: 30%;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
}

.blog-post-buttons {
  display: flex;
}

.about-title {
  border-bottom: 1px solid black;
}

.input-title {
  display: flex;
  width: 800px;
}

.input-content {
  display: flex;
  height: 250px;
  width: 800px;
}
