body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-nav {
  background-color: cyan;
  padding-top: 1px;
  border-radius: 30px;
}

.navbar-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px
}

.nav-item {
  color: white;
}

.active-nav-btn {
  font-size: 22px;
  background-color: black;
  border-radius: 20px;
}

.my-image {
  max-width: 200px;
}

.home-box {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.home-box-children {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-image {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 1px solid;

}

.blog-box {
  display: flex;
  justify-content: space-between;
}

.history-group {
  display: flex;
  justify-content: space-around;
}

.my-container-experience {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.my-container-skills {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

.about-container {
  display: flex;
  justify-content: center;
}

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.blog-post-container {
  border: 1px solid black;
  max-width: 20%;
}

.about-title {
  border-bottom: 1px solid black;
}

.input-title {
  display: flex;
  width: 800px;
}

.input-content {
  display: flex;
  height: 250px;
  width: 800px;
}
